body {
    font-family: Arial;
    margin: 0;
    background-color: #fff;
}

header {
    background-color: #f6c1cc;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #f9d6dd;
    padding: 10px;
    text-align: center;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

.content {
    padding: 15px;
    width: 450px;
    margin: auto;
}

footer {
    background-color: #f6c1cc;
    text-align: center;
    padding: 10px;
}

